@page "/dashboard"

@rendermode InteractiveServer
@inject IUserService UserService
@inject IProductService ProductService

<h3>Dashboard</h3>

<table class="table">
	<thead>
		<tr>
			<th>#ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>User Name</th>
			<th>Role</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in users)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.FirstName</td>
				<td>@user.LastName</td>
				<td>@user.UserName</td>
				<td>@user.Role</td>
				<td>
					@if (AuthenticationService.UserAuthenticated?.Id != user.Id)
					{
						<ButtonCaller Prefab="CHANGE_ROLE" Id="@user.Id" />
					}
				</td>
			</tr>
		}
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th>#ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in products)
		{
			<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Description</td>
				<td>@product.CreatedAt.ToString("dd MMM yyyy")</td>
				<td>
					<ButtonCaller Prefab="UPDATE_PROD" Id="@product.Id" />
					<ButtonCaller Prefab="DELETE_PROD" Id="@product.Id" />
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="add-btn">
	<ButtonCaller Prefab="CREATE_PROD" Id="-1" />
</div>

@code {
	List<User> users = new List<User>();
	List<Product> products = new List<Product>();

	protected override async Task OnInitializedAsync()
	{
		products = await ProductService.GetAllProducts();
		users = await UserService.GetAllUsers();
	}
}