@page "/games"
@inject IGameService GameService
@attribute [StreamRendering(true)]

<h3>GameList</h3>

@if (games == null)
{
	<span>Loading...</span>	
}
else if(games.Count == 0)
{
	<span>No games found.</span>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>#ID</th>
				<th>Name</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in games)
			{
				<tr>
					<td>@game.Id</td>
					<td>@game.Name</td>
					<td>@game.CreatedAt.ToString("dd MMM yyyy")</td>
					<td>
						<GameButtonCaller SIDChange="UPDATE" Id="@game.Id" />
						<GameButtonCaller SIDChange="DELETE" Id="@game.Id" />
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<div class="add-btn">
	<GameButtonCaller SIDChange="CREATE" Id="-1" />
</div>

@code {
	List<Game>? games = null;

	protected override async Task OnInitializedAsync()
	{
		games = await GameService.GetAllGames();
	}
}